<div class="container">
  <div class="m-header">
    <h2>About DailyMoments</h2>
    <div class="list">
      <span>Developer: <small>Ricardo Castle</small></span>
      <h3>My social media</h3>
      <div class="items">
        <a href="https://www.linkedin.com/in/ricardocastles/" target="_blank" style="color: rgb(75, 75, 191)">
          <img src="/assets/icos/linked.png" alt="">
        </a>
        <a href="https://www.facebook.com/rcastledev" target="_blank">
          <img src="/assets/icos/fb.png" alt="">
        </a>
        <a href="https://www.youtube.com/@ricardocoder" style="color: black" target="_blank">
          <img src="/assets/icos/yt_play.png" alt="" style="width: 42px;height:42px;">
        </a>
        <a href="https://www.instagram.com/ricardocodex/" style="color: black" target="_blank">
          <img src="/assets/icos/insta.png" alt="" style="width: 55px;height:45px;">
        </a>
        <a href="https://github.com/ricardocastl3" style="color: black" target="_blank">
          <img src="/assets/icos/git.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
