<div class="container">
  <div class="c-header">
    <img src="/assets/bg/mo1.jpg" alt="" />
    <div class="c-head-uname">
      <h3>Ricardo Castle</h3>
      <h4>{{ "July, 20, 2023" }}</h4>
    </div>
  </div>
  <div class="c-content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      officiis cum voluptas est deserunt nostrum ab cumque, ipsa possimus magnam
      omnis vel et! Dolore enim id dolores nulla aspernatur.
    </p>
  </div>

  <div class="c-header">
    <img src="/assets/bg/mo1.jpg" alt="" />
    <div class="c-head-uname">
      <h3>Ricardo Castle</h3>
      <h4>{{ "July, 20, 2023" }}</h4>
    </div>
  </div>
  <div class="c-content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      officiis cum voluptas est deserunt nostrum ab cumque, ipsa possimus magnam
      omnis vel et! Dolore enim id dolores nulla aspernatur.
    </p>
  </div>


  <div class="c-header">
    <img src="/assets/bg/mo1.jpg" alt="" />
    <div class="c-head-uname">
      <h3>Ricardo Castle</h3>
      <h4>{{ "July, 20, 2023" }}</h4>
    </div>
  </div>
  <div class="c-content">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur
      officiis cum voluptas est deserunt nostrum ab cumque, ipsa possimus magnam
      omnis vel et! Dolore enim id dolores nulla aspernatur.
    </p>
  </div>

</div>
