$primary-color: rgb(223, 165, 95);
$secondary-color: rgb(181, 181, 181);

$gold-color: rgb(243, 246, 72);
$black-color: rgb(0, 0, 0);
$bg-color: rgb(247, 247, 247);
$white-color: rgb(255, 255, 255);

$invalid-color: red;