<footer>
  <div class="container">
    <div class="f-t">
      <h2>DailyMoments</h2>
      <h3>Share your daily moments with your friends<span>❤️</span></h3>
      <div class="list">
        <span>🌟 Every sunset you will see victories on your journey.</span>
        <span>🌟 You can do a lot for everyone and for yourself.</span>
        <span>🌟 Change your life and then the world..</span>
      </div>
    </div>
    <div class="f-b">
      <h2>Live each day to the fullest 🛩️</h2>
    </div>
  </div>
</footer>
<div class="p-footer">
  <h2>
    ❤️🚀Develop By:
    <a target="_blank" href="https://www.linkedin.com/in/ricardocastles/"
      >Ricardo Castle 🛩️</a
    >
  </h2>
</div>
